<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

.page-content {
    width: 50%;
    height: 100%;
    padding: 0 25%;
}

.color-grey {
    color: rgba(0, 0, 0, 0.4)
}

.color-red {
  color: lightcoral;
}

.link {
text-decoration: none;
color: white;
font-size: 20px;
}

.link:hover {
text-decoration: underline;
}

#messageContainer {
max-height: 80%;
overflow-y: scroll;
scroll-behavior: smooth;
}

.mdl-layout__header-row {
justify-content: space-between;
}

.mdl-textfield {
width: 100%;
}